# =======================================
# DDEV
# =======================================
.ddev/*
.ddev/.web-build
.ddev/.nfs
.ddev/docker-compose.override.yaml

# =======================================
# Composer / dependencias
# =======================================
#/vendor/
#/web/core/
#/web/modules/contrib/
#/web/themes/contrib/
#/composer.lock

# =======================================
# Archivos de configuración local y plantillas (no versionar)
# =======================================
/web/sites/*/settings.local.php
/web/sites/*/services.local.yml
/web/sites/*/default.settings.php
/web/sites/*/default.services.yml
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php

# =======================================
# Archivos cargados por usuarios (subir solo a storage remoto)
/web/sites/*/files/
/web/sites/*/private/
# Ignorar cachés y directorios generados automáticamente
/web/sites/*/files/config_*
/web/sites/*/files/css/
/web/sites/*/files/js/
/web/sites/*/files-php/

# =======================================
# Configuración versionable (sí va a Git)
#/web/sites/*/config/sync/

# =======================================
# Archivos del sistema / temporales
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# =======================================
# Opcional: archivos de Nixpacks, builds locales
/.nixpacks/



# Ignorar backups y dumps de base de datos
*.sql
*.sqlite

# Ignorar archivos de entorno locales
.env
.env.*



files.tar.gz