# =======================================
# DRUPAL + RAILWAY GITIGNORE
# =======================================

# DDEV local
.ddev/*
#!.ddev/config.yaml
#!.ddev/docker-compose.*.yaml

# Ignorar dependencias generadas por Composer
/vendor/

#tests
/web/core/tests/

# Archivos de temas contribuidos (si instalas Bootstrap Barrio)
/web/themes/contrib/
/web/modules/contrib/


# Ignorar archivos de configuración local (solo usa settings.php en Railway si es genérico)
/web/sites/*/settings.local.php
/web/sites/*/services.local.yml

# Ignorar archivos cargados por usuarios (no se deben versionar)
/web/sites/*/files/

# Ignorar archivos temporales y cachés
/web/sites/*/files-php/
/web/sites/*/files/css/
/web/sites/*/files/js/
/web/core/assets
/web/core/.idea
/web/core/.vscode
/.idea
/.vscode

# Ignorar backups y dumps de base de datos
*.sql
*.sqlite

# Ignorar archivos de entorno locales
.env
.env.*
