# =======================================
# DDEV
# =======================================
.ddev/*
.ddev/.web-build
.ddev/.nfs
.ddev/docker-compose.override.yaml


# Ignorar dependencias generadas por Composer
/vendor/

#tests
/web/core/tests/

# Archivos de temas contribuidos (si instalas Bootstrap Barrio)
/web/themes/contrib/
/web/modules/contrib/


# =======================================
# Archivos de configuración local y plantillas (no versionar)
# =======================================
/web/sites/*/settings.local.php
/web/sites/*/services.local.yml
/web/sites/*/default.settings.php
/web/sites/*/default.services.yml
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php



# =======================================
# Archivos cargados por usuarios (subir solo a storage remoto)
/web/sites/*/files/
/web/sites/*/private/

# Ignorar archivos temporales y cachés
/web/sites/*/files-php/
/web/sites/*/files/css/
/web/sites/*/files/js/
/web/core/assets
/web/core/.idea
/web/core/.vscode
/.idea
/.vscode

# Ignorar backups y dumps de base de datos
*.sql
*.sqlite

# Ignorar archivos de entorno locales
.env
.env.*


# =======================================
# Configuración versionable (sí va a Git)
#/web/sites/*/config/sync/

# =======================================
# Archivos del sistema / temporales
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# =======================================
# Opcional: archivos de Nixpacks, builds locales
/.nixpacks/



files.tar.gz